// 公共样式
@import "constants.scss";

.a {
	font-size: 12px;
}
.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}.a {
	font-size: 12px;
}