.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }

.a {
  font-size: 12px; }
